:root{
    --background-color: #122620;
    --text-color: #f4ebd0;
    --heading-font:'Oi', cursive;
    --body-font:'Open Sans Condensed', sans-serif;
}
*{
    display: block;
    margin: 0;
    padding: 0;
}
body{
    background-color:var(--background-color);
    color: var(--text-color); 
    position: relative;
}
header, main, footer{
    margin-inline: 1rem;
}
header{
    height: 20rem;
}
.title{
    font-family: var(--heading-font);
    font-weight: lighter;
    font-size: 3rem;
}
.nav-bar{
    list-style: none;
}
img, .canvideo{
    max-width: 100%;
}
.grid-section{
    max-width: 100%;
    padding-block: 2rem;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    grid-auto-flow: dense;
}
@media (min-width: 720px) {
    img, .canvideo{
        width: 100%;
        height: 100%;
    }
    .grid-section{
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    .span2{
        grid-column: span 2;
    }
    .canvideo{
        grid-column: span 2;
        grid-row: span 2;
    }
}
@media (min-width: 1200px) {
    .grid-section{
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
}
footer{
    height: 20rem;
    display: flex;
    flex-direction: column;
}
